.categories-wrap
  margin: block-margin 0
  color: card-text-color

  .categories-title
    @extend $block-caption

  .category-list
    @extend $block
    padding: article-padding
    margin: 0
    list-style: none

.category-list-item
  margin: 0
  padding: 0.65rem 0

  &:first-child
    padding-top: 0

  &:last-child
    padding-bottom: 0

.category-list-link
  display: inline-block
  color: card-text-color
  font-weight: 600
  text-decoration-color: link-color

  &:hover
    color: card-highlight-color
    text-decoration-color: card-highlight-color

.category-list-count
  margin-left: 0.35rem
  font-size: 0.8rem
  color: link-color

  &:before
    content: " ["

  &:after
    content: "]"

.category-list-child
  margin: 0.7rem 0 0 1.1rem
  padding: 0 0 0 1.1rem
  list-style: none
  border-left: 2px solid rgba(card-title-color, 0.15)

  .category-list-item
    position: relative
    padding: 0.35rem 0 0.35rem 0.35rem

    &:before
      content: ""
      position: absolute
      top: 1rem
      left: -1.1rem
      width: 0.75rem
      border-top: 2px solid rgba(card-title-color, 0.15)

  .category-list-link
    font-weight: 500

  .category-list-child
    margin-left: 1rem
    padding-left: 1rem
    border-left-color: rgba(card-title-color, 0.1)

    .category-list-item:before
      left: -1rem
      width: 0.65rem
      border-top-color: rgba(card-title-color, 0.1)
